<ion-view view-title="Account" hide-back-button="true">

  <form name="accountForm">
  
  <!-- main content -->
  <ion-content class="ui-gradient-deepblue" dir="rtl">
    
    <div class=" text-center padding">
        <img class="avatar-account" ng-src="{{user.avatar}}">
    </div>

    <label class="item item-input">
      <span class="input-label">ایمیل</span>
      <input type="text" ng-model="accountUser.email" name="email" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">نام</span>
      <input type="text" ng-model="accountUser.name" name="name" ng-readonly="readonly" required>
    </label>

    <div class=" text-center ui-gradient-deepblue padding">
      <button class="button button-positive">ثبت نام</button>
      <button class="side-item icon-fw-signin button button-positive">
        ورود
      </button>
      <button class="side-item icon-fw-signout button button-positive">
      خروج
      </button>
    </div>

  </ion-content>
 
  
  </form>

</ion-view>
