<ion-view view-title="" hide-back-button="true">

  <ion-nav-buttons side="left">
      <button class="button button-clear ion-ios-arrow-back white-color" ui-sref="app.shop">
      </button>
  </ion-nav-buttons>
  
  <!-- we use a subheader component to show total and links to checkout and shop-->
  <div class="bar bar-subheader item-input-inset" dir="rtl">
    <label class="item-input-inset">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="جستجو..." ng-model="searchText" ng-change="searchTextChanged()" />
    </label>    
  </div>     
  
  <ion-content class="has-header has-subheader" delegate-handle="mainScroll">
    <ion-refresher
      pulling-text="به روز رسانی مطالب" on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>  
      <ion-item class="item item-avatar item-text-wrap" ng-repeat="post in recentPosts | filter: searchText" ng-href="#/app/cart/{{post.id}}">

        <img ng-src="{{post.better_featured_image.source_url}}" alt="All fashion post image">
        <h2 class="title white-cxolor text-right" ng-bind-html="post.title.rendered" dir="rtl"></h2>
        <p class="text-right" ng-bind-html = "post.excerpt.rendered" dir="rtl"></p>
        <p class="text-right"> ... </p>
        <button class="button button-clear ion-android-share"></button>
        <button class="button button-clear ion-heart"></button>
      
      </ion-item>
    </ion-list>

  </ion-content>


   
</ion-view>
