<ion-view class="text-center" view-title="پست های پسندیده شده" hide-back-button="true">

  <ion-nav-buttons side="left">
      <button class="button button-clear ion-ios-arrow-back white-color" ui-sref="app.main">
      </button>
  </ion-nav-buttons>
  
  <!-- we use a subheader component to show total and links to checkout and main-->
  <div class="bar bar-subheader item-input-inset" dir="rtl">
    <label class="item-input-inset">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="جستجو..." ng-model="searchText" ng-change="searchTextChanged()" />
    </label>    
  </div>     
  
  <ion-content class="has-header has-subheader" delegate-handle="mainScroll">
    <ion-refresher
      pulling-text="به روز رسانی مطالب" on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list  ng-repeat="post in favorite_posts | filter: searchText track by $index">  
      <ion-item class="item item-avatar item-text-wrap" ng-href="#/app/catPosts/{{post.id}}">

        <img ng-src="{{post.better_featured_image.source_url}}" alt="All fashion post image">
        <h2 class="title white-cxolor text-right" dir="rtl">{{post.title.rendered}}</h2>
        <p class="text-right" ng-bind-html = "post.excerpt.rendered" dir="rtl"></p>
      
      </ion-item>

      <ion-item class="no-padding" dir="rtl">

        <button class="item-font button icon ion-android-share button-clear" ng-click="shareAnywhere()"> باز نشر</button>
        <button class="item-font button icon ion-heart button-clear" ng-class="{'button-assertive':post.isFavorite}" ng-click="toggleFavorite(post)"> پسندیدن</button>

      </ion-item>
    </ion-list>

  </ion-content>


   
</ion-view>
