<ion-view view-title="" hide-back-button="true">

  <ion-content>
    <ion-refresher
      pulling-text="به روز رسانی دسته بندی ها" on-refresh="doRefresh()">
    </ion-refresher>

    <a ng-repeat = "category in products" class="a-link-decoration" ng-href="#/app/catContent/{{category.id}}">
        <div class="item item-image" style="position:relative;">
          <img ng-src="{{category.image}}">
        </div>

        <div class="item ui-gradient-deepblue text-right">
          <h2 class="title white-color">{{category.title}}</h2>
        </div>

        <!--<div class="item item-body text-right">
          {{category.description}}
        </div>-->
    </a>

    
  </ion-content>
</ion-view>
