
<ion-side-menus enable-menu-with-back-views="true">
  
  <ion-side-menu-content>
    <ion-nav-bar class="bar-deepblue" align-title="center">
      <ion-nav-buttons side="right" >
        <button class="white-color button button-icon button-clear" menu-toggle="right"
        ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-ios-arrow-forward' : 'ion-navicon'">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-nav-view name="menuContent" class="slide-right-left"></ion-nav-view>
  
  </ion-side-menu-content>

  <ion-side-menu side="right">

    <ion-header-bar class="bar-deepblue-reverse bar-deepblue-borderbottom">
    </ion-header-bar>
  
    <ion-content dir="rtl">
      <ion-list>

        <div ng-show="user.avatar" menu-close href="#/app/account" class="side-item item-menu-avatar text-center">
          <img ng-src="{{user.avatar}}" class="avatar-menu">
        </div>
        <a class="a-link-decoration" href="#/app/main">  
          <div class="side-item icon-fw-home" menu-close>
            دسته بندی اصلی
          </div>
        </a>
        <a class="a-link-decoration" href="#/app/catPosts">
          <div class="side-item icon-fw-news" menu-close>
            جدیدترین پست ها
          </div>
        </a>
        <a class="a-link-decoration" href="#/app/favorites">
          <div class="side-item icon ion-heart" menu-close>
            مطالب پسندیده شده
          </div>
        </a>
        <a class="a-link-decoration" href="#/app/main" onClick="window.open('https://www.instagram.com/shiksho_shik/', '_blank', 'location=yes');return false;">
          <div class="side-item icon icon-fw-instagram" menu-close>
            صفحه ما در اینستاگرام
          </div>
        </a>
        <a class="a-link-decoration" href="#/app/account">
          <div class="side-item icon icon-fw-pencil" menu-close>
            ورود
          </div>
        </a>
      </ion-list>
    </ion-content>
    
    <!-- 
      #IMPLEMENTATION-DETAIL:
      we choose to put a "logout" button in the footer of side menu.
      the "logout" method in contained in "AppCtrl" controller (see controllers.js)
    -->
    <ion-footer-bar class="bar-positive" dir="rtl">
      <button class="button button-clear white-color" ng-click="logout()" menu-close>خروج</button>
    </ion-footer-bar>
  
  </ion-side-menu>
</ion-side-menus>