<ion-view view-title="" hide-back-button="true">

  <ion-nav-buttons side="left">
      <button class="button button-clear ion-ios-arrow-back white-color" ui-sref="app.catPosts">
      </button>
  </ion-nav-buttons>
  <ion-content>

 
      
      <div class="item item-avatar">
        <img ng-src="{{post_image}}">
        <div class="text-right item-text-wrap" ng-bind-html="post_title" dir="rtl"></div>
      </div>

      <div class="item item-image">
        <img ng-src="{{post_image}}">
      </div>

      <div class="item" dir="rtl">
        <p class="text-right item-text-wrap" ng-bind-html="post_content"></p>
      </div>
      <!--<div class="item">
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>-->

      <!--<div class="item tabs tabs-deepblue tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>-->
  
  </ion-content>
</ion-view>
