<ion-view view-title="" hide-back-button="true">

  <ion-nav-buttons side="left">
      <button class="button button-clear ion-ios-arrow-back white-color" ui-sref="app.catPosts"> عقب
      </button>
  </ion-nav-buttons>
  <ion-content>
      <div class="item-image" style="position:relative;" dir="rtl" ng-cloak>
        <img ng-src="{{post_image}}" style="filter: blur(3px);">
          <p class="item-content item-text-wrap text-right p-text-decoration" ng-bind-html="post_title"></p>
          <button class="item-font button icon icon-fw-share button-clear" style="color:#0a1612; font-size: 16px !important;" 
          ng-click="share(post_title +' ' + ' رو خوندم، خیلی دوستش داشتم،تو هم از اپلیکیشن شیکشو بخونش، از کافه بازار دانلودش کن')" dir="rtl"> باز نشر</button>
      </div>
        
      <div class="item" dir="rtl">
        <p class="text-right item-text-wrap" ng-bind-html="post_content"></p>
      </div>

  
  </ion-content>
</ion-view>
