<ion-view view-title="" hide-back-button="true">

    <ion-nav-buttons side="right">
    <span ui-sref="app.cart" >
      <button class="button button-clear icon ion-android-cart white-color">
        
      </button>
      <span ng-show="cart.products.length" class="cart-badge ng-hide">{{cart.products.length}}</span>
    </span>
    </ion-nav-buttons>

  <ion-content>

    <div ng-repeat = "product in products">
        <div class="item item-image" style="position:relative;">
          <img ng-src="{{product.image}}">
              <button class="button button-positive product-price text-right" ng-click="addProduct(product)">
                  <p class="white-color product-price-price">{{product.categoryObj.count}}</p>
                  <p class="white-color product-price-price"> پست</p>
              </button>
        </div>

        <div class="item ui-gradient-deepblue text-right">
          <h2 class="title white-color sans-pro-light">{{product.categoryObj.name}}</h2>
        </div>

        <div class="item item-body text-right">
          {{product.categoryObj.description}}
        </div>
    </div>

    
  </ion-content>
</ion-view>
