<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  
  <!-- 
    #IMPLEMENTATION-DETAIL
    We are using custom classes in "scss/scaffolding.scss"
  -->
  <ion-content class="padding full-height">
    <h1 class="text-center white-color home-title">
        شیک شو
    </h1>

    
    <!--
      #IMPLEMENTATION-DETAIL:
      we are wrapping the login button in an ionic grid in order
      to keep it centered and quite large
    -->

    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <button class="button button-large button-block button-clear" ng-click="login()">ورود</button>        
        </div>
        <div class="col col-20"></div>
    </div>
  </ion-content>

  <!--
   We put a link to signup screen in footer bar.
  -->


</ion-view>
