/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iocn-fw-share:before {
	font-family: "fontawesome";
	content: "\f1e0"
}
.iocn-fw-home:before {
	font-family: "fontawesome";
	content: "\f015"
}
.iocn-fw-news:before {
	font-family: "fontawesome";
	content: "\f1ea"
}
.side-item {
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  font-size: 16px; }
.no-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.item-font {
    font-size: 13px !important;
  }

.a-link-decoration {
  text-decoration: none;
  color: white;
}